In [134]:
import pandas as pd

In [135]:
dataframe=pd.read_csv('daily-minimum-temperatures-in-me.csv')

In [136]:
dataframe.columns=['Date','Temperatures']

In [137]:
width=3

In [138]:
temps=pd.DataFrame(dataframe.Temperatures)

In [139]:
shifted=temps.shift(width-1)

In [140]:
shifted.head()

  Temperatures
0          NaN
1          NaN
2         20.7
3         17.9
4         18.8

In [141]:
window=shifted.rolling(window=width)

In [142]:
df1 = concat([window.min(), window.mean(), window.max(), temps], axis=1)
df1.columns = ['min', 'mean', 'max', 't+1']
print(df1.head(5))

    min  mean   max   t+1
0   NaN   NaN   NaN  20.7
1   NaN   NaN   NaN  17.9
2  20.7  20.7  20.7  18.8
3  17.9  17.9  17.9  14.6
4  18.8  18.8  18.8  15.8

In [ ]:
while(a=input()):
    {
        if(a!=42):
            print(a)
        else:
            continue
    }