---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [2]:
import pandas as pd
pd.Series?

In [3]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [11]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [12]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

# Querying a Series

In [33]:
sports = {'Archery': ['Bhutan','Nepal'],
          'Golf': ['Scotland','Swizerland'],
          'Sumo': ['Japan','North Korea'],
          'Taekwondo': ['South Korea','China']}
s = pd.DataFrame(sports)
s

  Archery        Golf         Sumo    Taekwondo
0  Bhutan    Scotland        Japan  South Korea
1   Nepal  Swizerland  North Korea        China

In [14]:
s.iloc[3]

'South Korea'

In [15]:
s.loc['Golf']

'Scotland'

In [16]:
s[3]

'South Korea'

In [17]:
s['Golf']

'Scotland'

In [18]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [20]:
s[99] #This won't call s.iloc[0] as one might expect, it generates an error instead

'Bhutan'

In [21]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [22]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [23]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [46]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,10,100))
s

0     5
1     8
2     6
3     9
4     8
5     4
6     6
7     3
8     0
9     0
10    4
11    8
12    6
13    6
14    6
15    5
16    0
17    4
18    2
19    9
20    4
21    2
22    2
23    5
24    5
25    3
26    6
27    6
28    0
29    7
     ..
70    1
71    9
72    3
73    9
74    9
75    9
76    6
77    1
78    4
79    6
80    5
81    6
82    0
83    3
84    2
85    3
86    5
87    5
88    6
89    9
90    1
91    4
92    5
93    3
94    9
95    8
96    1
97    2
98    1
99    4
dtype: int64

In [47]:
len(s)

100

In [48]:
%%timeit -n 100
    summary = 0
    for item in s:
        summary += item

100 loops, best of 3: 28.2 µs per loop

In [49]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 132 µs per loop

In [52]:
s += 2 #adds two to each item in s using broadcasting
s.head()

0     7
1    10
2     8
3    11
4    10
dtype: int64

In [53]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0     9
1    12
2    10
3    13
4    12
dtype: int64

In [54]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

10 loops, best of 3: 1.79 s per loop

In [55]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

10 loops, best of 3: 1.04 ms per loop

In [56]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [57]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [58]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [59]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()