In [1]:
# python version
import sys
print('python: {0}'.format(sys.version))

python: 3.6.3 |Anaconda, Inc.| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]

In [2]:
#Scipy
import scipy
print('Scipy: {}'.format(scipy.__version__))

Scipy: 0.19.1

In [3]:
#numpy
import numpy
print('numpy: {}'.format(numpy.__version__))

numpy: 1.13.3

In [4]:
#matplotlib
import matplotlib as plt
print('matplotlib: {}'.format(plt.__version__))

matplotlib: 2.1.0

In [5]:
#pandas
import pandas
print('pandas: {}'.format(pandas.__version__))

pandas: 0.20.3

In [6]:
#scikit-learn
import sklearn
print('sklearn: {}'.format(sklearn.__version__))

sklearn: 0.19.1

In [7]:
k=[1,2,3,4,5,8,9,0]
for i in k:
    print(i)

1
2
3
4
5
8
9
0

In [8]:
for i in k:
    if(i%2==0):
        print(i)
    elif(i%2!=0):
        print("odd")
    else:
        print("nothing")

odd
2
odd
4
odd
8
odd
0

In [9]:
a=numpy.array([[1,0,0],[0,1,0],[0,0,1]])

In [10]:
print(a)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [11]:
print(a.sum(axis=1))

[1 1 1]

In [12]:
print(a.sum(axis=0))

[1 1 1]

In [13]:
a.shape

(3, 3)

In [14]:
one=numpy.ones((3,4))

In [15]:
print(one)

[[ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]
 [ 1.  1.  1.  1.]]

In [16]:
print(one.sum(axis=0),one.sum(axis=1s))

SyntaxError: invalid syntax (<ipython-input-16-7da29137e82c>, line 1)

In [ ]:
list=numpy.arange(1,5)
print(list)

In [ ]:
list = numpy.linspace(1,5,10)
print(list)

In [ ]:
list2 = list.reshape((1,10))

In [ ]:
print(list2)

In [ ]:
list3=list2.reshape((2,5))

In [ ]:
print(list3)

In [ ]:
list4=list3.reshape(10,1)

In [ ]:
print(list4)

In [ ]:
list5=list4.ravel()
print(list5)

In [ ]:
print(list5.std())

In [ ]:
print(list5.min())

In [ ]:
print(list5.sum())

In [ ]:
a=numpy.array([[1,2],[3,4]])
b=numpy.array([[1,2],[3,4]])
print(a+b)

In [ ]:
print(a*b)
print(a/b)
print(a.dot(b))

In [ ]:
print(b.dot(a))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
x=(i for i in range(101))
y=(i**2 for i in x)

In [ ]:
print(x)
print(y)

In [ ]:
print(y[2])

In [ ]:
for i in x:
    print(i)

In [ ]:
for j in y:
    print(j)

In [ ]:
print(y)

In [ ]:
plt.plot(x,y)

In [ ]:
a=[1,2,3,4,5]
b=[1,4,9,16,25]

In [ ]:

plt.figure(figsize=(15,5))
plt.title('kanon_tets')
plt.xlabel('X')
plt.ylabel("y axis")
plt.plot(a,b)

In [ ]:
x=[i for i in range(101)]

In [ ]:
print[x[0]]

In [ ]:
for i in x:
    print(i)

In [ ]:
y1=[i**2 for i in x]

In [ ]:
y2=[i**3 for i in x]

In [ ]:
for i in y1:
    print(i)

In [ ]:
plt.figure(figsize=(20,10))
plt.xlabel("X Axis",fontsize=16)
plt.ylabel('Y Axis',fontsize=16)
plt.title("X vs Y",fontsize=16)
plt.plot(x,y2)
plt.plot(x,y1)
plt.legend(['Quadratic','Qubic'],fontsize=18)

In [ ]:
import numpy
import pandas
myarray = numpy.array([[1,2,3],[4,5,6]])
rownames = ['a','b']
colnames = ['one','two','three']
mydataframe = pandas.DataFrame(myarray,index=rownames,columns=colnames)
print(mydataframe)

In [ ]:
import pandas as pd
ufo=pd.read_csv('http://bit.ly/uforeports')

In [ ]:
type(ufo)

In [ ]:
ufo.head()

In [ ]:
ufo['City']

In [17]:
type(ufo['City'])

NameError: name 'ufo' is not defined

In [18]:
ufo.City

NameError: name 'ufo' is not defined

In [46]:
ufo['new pd series']=ufo.City+', '+ufo.State

In [47]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,new pd series
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [19]:
import pandas as pd
import matplotlib.pyplot as plt